/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication2/dist/
/Kalk/dist/
/Quino/dist/
/JavaApplication9/nbproject/private/
/jdbcdemo/nbproject/private/
/jdbcdemo/build/
/Telenorliga/nbproject/private/
/Telenorliga/build/
/Kalkis/nbproject/private/
/Kalkis/build/
/FramMedTau/nbproject/private/
/SLIT/nbproject/private/
/FramMedTau/build/
/SLIT/build/